In [361]:
#Install libraries
!pip install pandas
!pip install zipfile
!pip install kaggle


import numpy as np
import pandas as pd
import zipfile 
import kaggle
import matplotlib.pyplot as plt
import seaborn as sns

Requirement already satisfied: pandas in c:\users\acer\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\acer\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

ERROR: Could not find a version that satisfies the requirement zipfile (from versions: none)
ERROR: No matching distribution found for zipfile

Requirement already satisfied: kaggle in c:\users\acer\anaconda3\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\acer\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\acer\anaconda3\lib\site-packages (from kaggle) (2024.12.14)
Requirement already satisfied: python-dateutil in c:\users\acer\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\acer\anaconda3\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\acer\anaconda3\lib\site-packages (from kaggle) (4.66.5)
Requirement already satisfied: python-slugify in c:\users\acer\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\acer\anaconda3\lib\site-packages (from kaggle) (2.2.3)
Requirement already satisfied: bleach in c:\users\acer\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\acer\anaconda3\lib\site-packages (from bleach->kaggle) (24.1)
Requirement already satisfied: webencodings in c:\users\acer\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\acer\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\acer\anaconda3\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\acer\anaconda3\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\acer\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

OSError: Could not find kaggle.json. Make sure it's located in C:\Users\Acer\.kaggle. Or use the environment method. See setup instructions at https://github.com/Kaggle/kaggle-api/

In [372]:
# download dataset from kaggle using the Kaggle API
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
License(s): other
london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [374]:
# extract the file from the downloaded zip file
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [376]:
#load the csv file
london = pd.read_csv('london_merged.csv')

In [378]:
london

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [380]:
london.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [382]:
#rename the columns, appropriately
london = london.rename(columns = {
    'cnt' : 'count',
    't1' : 'real_temp',
    't2' : 'feels_like_temp',
    'hum' : 'humidity_percent',
    'weather_code' : 'weather_category',
    'is_holiday' : 'holiday',
    'is_weekend' : 'weekend'
})

In [384]:
london

,timestamp,count,real_temp,feels_like_temp,humidity_percent,wind_speed,weather_category,holiday,weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [386]:
#find null values
london.isnull().sum()

timestamp           0
count               0
real_temp           0
feels_like_temp     0
humidity_percent    0
wind_speed          0
weather_category    0
holiday             0
weekend             0
season              0
dtype: int64

In [388]:
#change values within 'season' column from number into string
def  season(value):
    if value == 1.0:
        return 'spring'
    elif value == 2.0:
        return 'fall'
    elif value == 3.0:
        return 'winter'
    return value  # Return existing string values as is

# Apply the function to the 'season' column
london['season'] = london['season'].apply(season)

print(london)

                 timestamp  count  real_temp  feels_like_temp  \
0      2015-01-04 00:00:00    182        3.0              2.0
1      2015-01-04 01:00:00    138        3.0              2.5
2      2015-01-04 02:00:00    134        2.5              2.5
3      2015-01-04 03:00:00     72        2.0              2.0
4      2015-01-04 04:00:00     47        2.0              0.0
...                    ...    ...        ...              ...
17409  2017-01-03 19:00:00   1042        5.0              1.0
17410  2017-01-03 20:00:00    541        5.0              1.0
17411  2017-01-03 21:00:00    337        5.5              1.5
17412  2017-01-03 22:00:00    224        5.5              1.5
17413  2017-01-03 23:00:00    139        5.0              1.0

       humidity_percent  wind_speed  weather_category  holiday  weekend  \
0                  93.0         6.0               3.0      0.0      1.0
1                  93.0         5.0               1.0      0.0      1.0
2                  96.5         0.0               1.0      0.0      1.0
3                 100.0         0.0               1.0      0.0      1.0
4                  93.0         6.5               1.0      0.0      1.0
...                 ...         ...               ...      ...      ...
17409              81.0        19.0               3.0      0.0      0.0
17410              81.0        21.0               4.0      0.0      0.0
17411              78.5        24.0               4.0      0.0      0.0
17412              76.0        23.0               4.0      0.0      0.0
17413              76.0        22.0               2.0      0.0      0.0

       season
0      winter
1      winter
2      winter
3      winter
4      winter
...       ...
17409  winter
17410  winter
17411  winter
17412  winter
17413  winter

[17414 rows x 10 columns]

In [390]:
#change values within 'season' column from number into string
weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall'
}

# changing the weather column data type to string
london.weather_category = london.weather_category.astype('str')

# mapping the values to the actual written weathers
london.weather_category = london.weather_category.map(weather_dict)

print(london)

                 timestamp  count  real_temp  feels_like_temp  \
0      2015-01-04 00:00:00    182        3.0              2.0
1      2015-01-04 01:00:00    138        3.0              2.5
2      2015-01-04 02:00:00    134        2.5              2.5
3      2015-01-04 03:00:00     72        2.0              2.0
4      2015-01-04 04:00:00     47        2.0              0.0
...                    ...    ...        ...              ...
17409  2017-01-03 19:00:00   1042        5.0              1.0
17410  2017-01-03 20:00:00    541        5.0              1.0
17411  2017-01-03 21:00:00    337        5.5              1.5
17412  2017-01-03 22:00:00    224        5.5              1.5
17413  2017-01-03 23:00:00    139        5.0              1.0

       humidity_percent  wind_speed  weather_category  holiday  weekend  \
0                  93.0         6.0     Broken clouds      0.0      1.0
1                  93.0         5.0             Clear      0.0      1.0
2                  96.5         0.0             Clear      0.0      1.0
3                 100.0         0.0             Clear      0.0      1.0
4                  93.0         6.5             Clear      0.0      1.0
...                 ...         ...               ...      ...      ...
17409              81.0        19.0     Broken clouds      0.0      0.0
17410              81.0        21.0            Cloudy      0.0      0.0
17411              78.5        24.0            Cloudy      0.0      0.0
17412              76.0        23.0            Cloudy      0.0      0.0
17413              76.0        22.0  Scattered clouds      0.0      0.0

       season
0      winter
1      winter
2      winter
3      winter
4      winter
...       ...
17409  winter
17410  winter
17411  winter
17412  winter
17413  winter

[17414 rows x 10 columns]

In [392]:
london

,timestamp,count,real_temp,feels_like_temp,humidity_percent,wind_speed,weather_category,holiday,weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,Clear,0.0,1.0,winter
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,Broken clouds,0.0,0.0,winter
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,Cloudy,0.0,0.0,winter
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,Cloudy,0.0,0.0,winter
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,Cloudy,0.0,0.0,winter
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,Scattered clouds,0.0,0.0,winter

In [394]:
#export into csv
london.to_csv(r'C:\Users\Acer\OneDrive\Desktop\London\london.csv', index=False)